transformers>=4.38.2
timm>=0.9.16
accelerate
sentencepiece
attrdict
einops
git+https://github.com/openai/CLIP.git
git+https://github.com/facebookresearch/detectron2.git@5aeb252b194b93dc2879b4ac34bc51a31b5aee13
absl-py
aiohttp
aiosignal
antlr4-python3-runtime
attrs
black
blis
catalogue
certifi
charset-normalizer
click
cloudpickle
confection
contourpy
cycler
cymem
datasets
dill
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
fairscale
filelock
fire
fonttools
frozenlist
fsspec
ftfy
fvcore
grpcio
huggingface-hub
hydra-core
idna
importlib-metadata
iopath
jinja2
kiwisolver
langcodes
lit
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
multiprocess
murmurhash
mypy-extensions
networkx
numpy
oauthlib
omegaconf
opencv-python
packaging
pandas
pathspec
pathy
Pillow
platformdirs
portalocker
preshed
protobuf
psutil
pyarrow
pyasn1
pycocotools
pydantic
pydot
Pygments
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
ruamel.yaml
ruamel.yaml.clib
safetensors
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
sympy
tabulate
tensorboard
tensorboard-data-server
termcolor
thinc
timm
tokenizers
tomli
tqdm
triton
typer
tzdata
urllib3
wasabi
wcwidth
Werkzeug
xxhash
yacs
yarl
zipp
